.product {
  background: #fff;
  box-shadow:  0 0 14px 0 rgba(0,0,0, 0.2);
  border-radius: 5px;
  border: 1px solid #ddd;
  /* top | horizontal | bottom */
  margin: 25px auto 0;
  padding: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: row;
}

.product img {
  height: 300px;
  width: 183px;
  border-radius: 5px;
}

.product-info {
  margin-left: 20px;
}

.product-info h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-info span {
  font-size: 16px;
}

.product-info p {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

a {
  height: 42px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #7d40e7;
  background: #7d40e7;
  margin: 20px auto 20px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

a:hover {
  background: #fff;
  color: #7d40e7;
}

@media (max-width: 550px) {
  .product {
    flex-direction: column;
    margin: 25px 10px 10px;
  }

  .product img {
    align-self: center;
  }

  .product-info {
    margin-left: 0px;
    margin-top: 25px;
  }
}

@media (min-width: 550px) {
  .product {
    flex-direction: row;
  }

  .product-info {
    margin-left: 20px;
    margin-top: 0px;
  }
}
